{{#if listExists}}
    {{#each blogs}}
        <div style="margin-bottom: 10px;" class='card'>
            <div class='card-body'>
                <h5 class='card-title'>{{title}}</h5>
                <p style="white-space: pre-wrap;" class='card-content'>{{content}}</p>
                <blockquote class='blockquote mb-0'>
                    <footer class='blockquote-footer'>
                        <small class='text-muted'>{{author}}</small>
                    </footer>
                </blockquote>
            </div>
        </div>
    {{/each}}
{{/if}}